<div class="center jumbotron-a"=>
 
 <h1>MY BLOG</h1>
	<%= link_to "Login now", login_path, class: "btn btn-danger btn-lg btn-xlg" %>
	<%= link_to "Signup now", signup_path, class: "btn btn-danger btn-lg btn-xlg" %>
</div> 
